@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #ddeeff;
}

#boardCanvas {
  height: 500px;
  width: 250px;
}

@font-face {
  font-family: 'Angies-New-House';
  src:url('../public/fonts/webfonts_Angies-New-House/Angies-New-House.ttf.woff') format('woff'),
      url('../public/fonts/webfonts_Angies-New-House/Angies-New-House.ttf.svg') format('svg'),
      url('../public/fonts/webfonts_Angies-New-House/Angies-New-House.ttf.eot'),
      url('../public/fonts/webfonts_Angies-New-House/Angies-New-House.ttf.eot') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Objectivity-Bold';
  src:url('../public/fonts/webfonts_Objectivity-Bold/Objectivity-Bold.ttf.woff') format('woff'),
      url('../public/fonts/webfonts_Objectivity-Bold/Objectivity-Bold.ttf.svg#Objectivity-Bold') format('svg'),
      url('../public/fonts/webfonts_Objectivity-Bold/Objectivity-Bold.ttf.eot'),
      url('../public/fonts/webfonts_Objectivity-Bold/Objectivity-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}